<!-- main site -->
<div>
    <a href="/add-user" class="text-decoration-none "><span>New User <i class="fas fa-user"></i></span></a>
</div>
<form action="/" method="POST">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>@Email</th>
                <th>Gender</th>
                <th>status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Tola Lemma</td>
                <td>tolalemma@gmail.com</td>
                <td>Male</td>
                <td>Active</td>
                <td>
                    <a href="#" class="btn border-shadow">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</form>