<%- include('./includes/_main_head') %>
<%- include('./includes/style/style') %>
<%- include('./includes/_header') %>
<!-- main site -->
<div class="allUser">
    <a href="/" class="text-decoration-none"><span class="shadow-lg mb-2 rounded "><i class="fa fa-angle-double-left"></i> All Users <i class="fa-solid fa-users"></i></span></a>
</div>
<div class="text-center">
    <h2>New User</h2>
    <span>Use the below form to create a new account</span>
</div>
<form id="update_user" method="POST">
    
</form>